*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    /* color: #; */
    background-color: #1B1B1B;
}

.header {
    height: 95vh;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 6rem;
}

.logo {
    height: 6rem;
    border-radius: 10px;
}

.header__menu-box {
    position: absolute;
    top: 4rem;
    right: 6rem;
    display: inline-flex;
}


.menu-item {
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 25px;
    padding: 10px;
    width: 125px;
    font-size: small;
    text-align: center;
    border-radius: 100px;
    border: 1px solid #70D5B4;
    color: #70D5B4;
    cursor: pointer;
    transition: all 0.3s;
}

.menu-item:hover{
    background-color: #70D5B4;
    color: #fff;
}

.header__profile-box {
    position: absolute;
    top: 20%;
    left: 10rem;
    animation: bounce;
    animation-duration: 1s; 
    z-index: 1;
}

.profile {
    height: 30rem;
}

.header__text-box {
    position: absolute;
    bottom: 0;
    left: 6rem;
    right: 6rem;
    height: 65%;
    border-radius: 25px 25px 0 0;
    padding: 30px;
    background-color: #70D5B4;
}

.heading-box {
    margin: 2rem 0 0 35rem;
}

.heading-btn-box {
    margin: 4rem 0 0 35rem;
}

.heading-primary {
    color: #1B1B1B;
    backface-visibility: hidden;
}

.heading-primary--main {
    display:block;
    font-size: 6rem;
    letter-spacing: .4rem;
    animation: movInLeft;
    animation-duration: 1s;
}
.heading-primary--sub {
    display:block;
    font-weight: 400;
    animation: movInLeft;
    animation-duration: 1.5s;
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}
.btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; 
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.btn--black {
    background-color: #1B1B1B;
    color: #faf9f6;
}
.btn--black::after {
    background-color: #1B1B1B;
}

.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; 
}

.btn--animated {
    animation: moveInUp;
    animation-duration: 1.5s; 
}



.tech {
    height: 80vh;
    background-color: #70D5B4;
    margin: 0 6rem;
    border-radius: 0 0 25px 25px;
    padding: 50px 80px 0 80px;
}

.flex-container {
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    z-index: 2;
}
.item {
    /* background-color: blue; */
    width: 100%;
    color: #FFF;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
}

.tech-card {
    height: 150px;
    width: 150px;
    background-color: #1B1B1B;
    border-radius: 20px;
    /* padding: 20px; */
    text-align: center;
    margin: 20px 0;
    position:relative;
}

.tech-card .gauge {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: red;
}

.tech-card .gauge .level {
    height: 2px;
    border: .5px solid #fff;
}

.tech-card img {
    height: 110px;
    padding: auto;
}

.projects {
    margin-top: 20vh;
    height: 70vh;
    background-color: #faf9f6;
}

.contact {
    height: 70vh;
    background-color: #1B1B1B;
}




/* animations */

@keyframes moveInUp {
    0% {
      opacity: 0;
      transform: translateY(3rem); 
    }
    80% {
      transform: translateY(-1rem); 
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    } 
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@keyframes movInLeft {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}